In [1]:
import numpy as np

In [6]:
a = np.arange(0,10)
b = np.arange(10,20)
c = np.arange(20,30)
a,b,c

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19]),
 array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29]))

In [12]:
a = np.arange(0,10)
np.random.shuffle(a)
a

array([4, 0, 8, 9, 7, 5, 6, 1, 2, 3])

array([9, 6, 8, 1, 2, 3, 7, 4, 0, 5])

In [1]:
import numpy as np
import pandas as pd
import nltk

In [4]:
corpus_xk = pd.read_excel("corpus_xk.xlsx")

In [5]:
corpus_xk

,interviewee,task,sentence,data related,table,note
0,WJC,1,What is the popularity of Arkansas on July 1st...,"popularity, Arkansas, July 1st 2002",co-est2002-01-05,NaN
1,WJC,1,Where is Harvard University?,Harvard University,top-50-us-universities,where 表示 location
2,WJC,1,How many faculties are there in Harvard Univer...,"faculties, Harvard Universtiy",top-50-us-universities,NaN
3,WJC,1,What is the type of Harvard University?,"Harvard University, type",top-50-us-universities,NaN
4,WJC,2,which county has more than 30000 popularity?,"county, 30000 popularity",co-est2002-01-05,NaN
...,...,...,...,...,...,...
504,ZJH,6,Can you tell me what the range of students' sc...,"students' score, CW2",NaN,NaN
505,ZJH,7,Does this table show anything about the distri...,F grade students,NaN,NaN
506,ZJH,8,Which student didn't do as well as expected in...,"student, final exam",NaN,NaN
507,ZJH,9,Is there any obvious clustering of students' w...,students' weight,NaN,NaN
508,ZJH,10,Does a student's grade have anything to do wit...,"student's grade, city",NaN,NaN

In [33]:
509 - 490

19

In [7]:
corpus_xk.dtypes

interviewee     object
task            object
sentence        object
data related    object
table           object
note            object
dtype: object

In [15]:
corpus_xk.iloc[0].sentence, type(corpus_xk.iloc[0]),corpus_xk.iloc[0].task,type(corpus_xk.iloc[0].task)

('What is the popularity of Arkansas on July 1st 2002?',
 pandas.core.series.Series,
 1,
 int)

In [30]:
corpus_xk[(corpus_xk.task == '2') | (corpus_xk.task == 2)].sentence

4           which county has more than 30000 popularity?
5                       which university is in New York?
6      which university has more than 30 faculties an...
7      which county has less than 2000 popularity in ...
48     How many countries whoes happiness score is gr...
49     Which region has the most countries of happine...
50                    How many students get the A grade?
51               Select all CW1 score not less than 80%.
91                          Find all qualified students.
92                    Find out the neighboors of node A.
93                              Which team won the game?
94     In which country does the number of female is ...
129    Show me a country with a low economy but high ...
138    What countries have a higher happiness score t...
139    Show me all countries with a higher happiness ...
140    Please find all countries which have similar h...
167                   Collect books published this year.
172                What are fictions written in English?
173                 What're fictions written in English?
174                    Which books are English fictions?
175                    Collect all the English fictions.
176                       Find me every Engligh fiction.
177                         What are some popular songs?
178                    Which songs have high popularity?
250                                    Find the free app
251    Find the app which install number is more than...
268        retrieve the students whose father is teacher
269    display the reason of the student who's father...
292      List all the videos published before yesterday.
293          Which videos are published since yesterday?
294    Show me all the videos that have "Eminem" in t...
295                 What videos have more than 100 tags?
296    Find all the videos that received more than 1 ...
297    Find all the videos that are liked by more tha...
298    Find all the videos that do not allow comments...
302    Does the dataset contain any video published b...
339    List all the apps with a perfect rating and a ...
340         Find all the apps that are recently updated.
362    Show me all the movies directed by the directo...
363          What movies were released in the year 2017?
383    Show me all the records about suicides at the ...
384             Remove records about suiceds in Albania.
385    Are there any years with the number of suicide...
409    Find the years which the income of postgraduat...
410    Which countries have more postgraduates than u...
411    Show all friendly tournament matches that home...
412    Find all the domestic league games which took ...
467    What's the number of students who get full mar...
475    I feel like knowing which states have more tha...
476    what are the states with an average income bel...
499             Who are the Grade A students in Class 5?
500    What are the names of the students who scored ...
Name: sentence, dtype: object

In [31]:
corpus_xk[corpus_xk["task"].str.contains('1', case=False, na=False)]

,interviewee,task,sentence,data related,table,note
44,ZKJ,1,What is the happiness rank of Iceland?,"happiness rank, Iceland",World Happiness Report 2015,NaN
45,ZKJ,1,How many dimensions to describe happiness score?,"happiness score, dimensions",World Happiness Report 2015,NaN
46,ZKJ,1,How many students in the grade records?,"students, grade",grade-records,NaN
47,ZKJ,1,Show me Kibo Mcgee's mid-term score.,"Kibo Mcgee, mid-term score",grade-records,NaN
81,ZKJ,10,Can we infer that higher freedom lead to highe...,"freedom, happiness",World Happiness Report 2015,NaN
82,ZKJ,10,Is the countries has higher trust score get th...,"trust score, happiness score",World Happiness Report 2015,NaN
83,ZKJ,10,Who get the greatest progression?,progression,grade-records,"Who 指的是学生, progression指的是分数提高很多"
84,ZKJ,10,Is any teachers lead to the greater grades?,"teachers, grades",grade-records,NaN
87,XX,1,"What is the revenue of ""Titanic""?","revenue, Titanic",NaN,NaN
88,XX,1,How many goals does Liverpool score in the game?,"goals, Liverpool, game",NaN,NaN
89,XX,1,Find the score of course A for student B.,"score, course A, student B",NaN,NaN
90,XX,1,How long would it take from location A to loca...,"location A, location B",NaN,NaN
115,XX,10,What is the correlation between the release ye...,"release year, revenue",NaN,NaN
116,XX,10,Are the release year and the revenue positivel...,"release year, revenue",NaN,NaN
117,XX,10,Does a higher A mean a larger B?,NaN,NaN,NaN
118,XX,10,Is it true that young students are more likely...,"students, wechat",NaN,young students：涉及到ages属性，一般来说ages<20，或者定义为：统计所...
130,WJ,10,Find out the relationship between happiness sc...,happiness score,World Happiness Report 2015,NaN
131,WJ,10,How economy or something else affect happiness...,"economy, happiness score",World Happiness Report 2015,NaN
458,ZJH,10,Does life expectancy have some relation with t...,"life expectancy, smokers",NaN,the percentage of smokers = 吸烟的人数/总人数
460,ZJH,10,Can you tell me the tendency of the number of ...,"vehicles, Japan, Korea, 2000, 2010",NaN,NaN